/** CSS to be included **/

/** see footer.html for placement of brandbar html, example footer from hip-design **/

/** images are example png, not production **/


.footer-brandbar {
	display: block;
	position: relative;
	text-align: center;
	border-top: 1px solid #eee;
	background: #fff;
}

.footer-brandbar__items {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-brandbar__item {
	line-height: 30px;
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
	min-width: 100px;
	flex-grow: 1;
	text-align: center;
	width: auto;
}

.footer-brandbar__item img {  
	max-height: 60px; 
}

.footer-brandbar__item a { 
	display: inline-block; 
    -webkit-filter: grayscale(100%);  
    filter: grayscale(100%);
    transition:  -webkit-filter 0.3s, filter 0.3s;
}

.footer-brandbar__item a:hover {  
    -webkit-filter: grayscale(0);  
    filter: grayscale(0%);
}

/* CSS for devices with normal screens */
.footer-brandbar__item a {
    background-image: url(/img/brandbar/sprite@2x.png);
    background-repeat: no-repeat;
    height: 50px;
   	background-size: 850px auto;
}

.footer-brandbar__item--hg {
	background-position: 0 0;
	width: 91px;
}
.footer-brandbar__item--hd {
	background-position: -91px 0;
	width: 113px;
}
.footer-brandbar__item--hbi {
	background-position: -204px 0;
	width: 149px;
}
.footer-brandbar__item--f {
	background-position: -353px 0;
	width: 101px;
}
.footer-brandbar__item--wp {
	background-position: -454px 0;
	width: 124px;
}
.footer-brandbar__item--sl {
	background-position: -578px 0;
	width: 111px;
}
.footer-brandbar__item--ck {
	background-position: -689px 0;
	width: 161px;
}
.footer-brandbar__item a.footer-brandbar__item--mz {
  background-image: url(/img/brandbar/mooze_logo.png);
  background-position: center center;
  background-size: contain;
  width: 99px;
}

