body {
	background-position:center -15px;
}
#infodiv {
	background: none;
	left: 0;
	width: 450px;
}
#headermenu {padding-top:0;}
#editor_top_border {
    margin-top: -61px;
}

#accordion {
	margin: 0;
	width: 340px;
}

a#edit_card {
	color: none;
}

.edit_div, .edittable {
	color: #000000;
}

#accordion .ui-accordion-content a {
    color: #CC6699;
	font-weight:normal;
}
#accordion .ui-accordion-content li {
	list-style: disc outside none;
    margin-left: 25px;
	margin-bottom:10px;
}
#accordion .ui-accordion-content li br {display:none;}

#imagelist .pages, #patternlist .pages, #clipartlist .pages {width: 134px}

#accordion .ui-accordion-header a {color: #a63287;font-weight: normal;text-transform: none;font-family: 'Ubuntu';font-size: 14px;padding:2px 5px 2px 10px;height:24px;line-height:26px;}
#accordion .ui-accordion-header.ui-state-active a {color: #fff; background: #a63287;}
#accordion .ui-accordion-content a.prev, #accordion .ui-accordion-content a.next {

    color: #845FA8;
    display: inline-block;
    font-size: 11px;
    text-align: left;
    width: 80px;
}
#accordion .ui-accordion-content a.next {text-align:right;}

#imagelist .head, #patternlist .head, #clipartlist .head {
    color: #000000;
}

.combo > input {
    background-image: url("/img/red_arrow_down.png");
}

#send_date_picker .ui-state-active {
    background: url("/img/calendar-selected.png") no-repeat scroll 7px 0 transparent;
}

#photolist img, #imagelist img, #patternlist img, #clipartlist img {border: #d3d3d3 1px solid;}
#imageaddform {width:306px; height: 340px;background:#fff !important;}
#bt-color, #bt-pattern {margin-bottom: -10px;
    overflow: hidden;}
#bt-color .description, #bt-pattern  .description {float: left;
    margin-top: 3px;
    width: 90px;}
    #bt-color .description .arrow_allign {display: none}

#bg_select, #fg_select {float: left}
#patternlist {padding-top:0;}
.edit_div img.arrow_allign, #texttable img.centeredImage {display: none;}
#txt_align_left_label, #txt_align_center_label, #txt_align_right_label, #txt_align_top_label, #txt_align_middle_label, #txt_align_bottom_label {margin-right: 5px;}
#txt_align_left_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
#txt_align_left_label:hover {
    background-position: 0 -31px;
}
#txt_align_left_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -61px;
    background-repeat: no-repeat;
}
#txt_align_center_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -467px;
    background-repeat: no-repeat;
}
#txt_align_center_label:hover {
    background-position: 0 -498px;
}
#txt_align_center_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -528px;
    background-repeat: no-repeat;
}
#txt_align_right_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -181px;
    background-repeat: no-repeat;
}
#txt_align_right_label:hover {
    background-position: 0 -212px;
}
#txt_align_right_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -242px;
    background-repeat: no-repeat;
}
#txt_align_top_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -276px;
    background-repeat: no-repeat;
}
#txt_align_top_label:hover {
    background-position: 0 -306px;
}
#txt_align_top_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -337px;
    background-repeat: no-repeat;
}
#txt_align_middle_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -90px;
    background-repeat: no-repeat;
}
#txt_align_middle_label:hover {
    background-position: 0 -120px;
}
#txt_align_middle_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -151px;
    background-repeat: no-repeat;
}
#txt_align_bottom_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -372px;
    background-repeat: no-repeat;
}
#txt_align_bottom_label:hover {
    background-position: 0 -402px;
}
#txt_align_bottom_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -433px;
    background-repeat: no-repeat;
}
#txt_align_justify_label {
	width: 39px;
	height: 22px;
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -560px;
    background-repeat: no-repeat;
}
#txt_align_justify_label:hover {
    background-position: 0 -591px;
}
#txt_align_justify_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -621px;
    background-repeat: no-repeat;
}
#txt_align {
    height: 32px;
}
#photo_turn_left {
	margin-right: 3px;
}
#imgtransparency, #textsize {
    background: url(/img/bg_slider02.png) no-repeat scroll 0 0;
    border: medium none;
    float: left;
    height: 5px;
    margin-left: 10px;
    width: 158px;
    margin-top: 14px;
}
#imgtransparency{margin-top:9px;}
#texttransparency {
    background: url(/img/bg_slider02.png) no-repeat scroll 0 0  !important;
    width: 158px;
    height: 5px;
    float: left;
    margin-left: 9px;
}
#imgtransparency a, #texttransparency a, #textsize a {
    background: url(/img/bg_circle.png) no-repeat scroll 0 0 !important;
    border: medium none;
    display: block;
    height: 7px;
    width: 16px;
	top:-6px;
	margin-left: 0;
}
#position_photo_tofront .ui-button-text, #position_txt_tofront .ui-button-text {
    background: url(/img/to_front.png) no-repeat scroll center center;
    height: 21px;
    padding: 0;
    width: 33px;
}
#position_photo_toback .ui-button-text, #position_txt_toback .ui-button-text {
    background: url(/img/to_back.png) no-repeat scroll center center;
    height: 21px;
    padding: 0;
    width: 33px;
}

#position_photo_tofront .ui-button-text img, #position_photo_toback .ui-button-text img, #position_txt_toback .ui-button-text img, #position_txt_tofront .ui-button-text img {
    visibility: hidden;
}
#accordion .ui-accordion-content textarea#txt_edit_add {height: 85px !important;padding-bottom: 0;width: 291px !important;margin-left: 4px;padding-right: 2px;}
#photo_arrange #position_photo_tofront, #photo_arrange #position_photo_toback, #txt_arrange #position_txt_tofront, #txt_arrange #position_txt_toback {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important; border: medium none;
    box-shadow: none;
}


.edit_big_button {
    background-color: #845fa8;
    border: none;
    color: #FFFFFF;
     
    font-family: 'Open Sans';
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 20px auto 0;
    text-align: center;
    padding: 0;
    float: none;
    border-radius: 3px;
	padding:0 15px;
	display:table;
}
.edit_big_button:hover {background-color: #724f98 !important; text-decoration: none}

.edit_big_button:active {box-shadow:2px 2px 1px #402564 inset}

.rightdiv #accordion {
	background-color:#fff;
	border:#ebebeb 1px solid;
	border-radius:4px;	
}
#pagecontent #accordion  h3 {
	background:none;
	border-top:#e8e8e8 1px solid;
	margin-bottom:0;
}
#pagecontent #accordion h3:hover {background-color:#ededed;}
#pagecontent #accordion  h3:first-child {border-top:none;font-family: 'Ubuntu';font-size:14px;color:#845fa8;}
#accordion .ui-accordion-header.ui-state-active:first-child a{border-radius:4px 4px 0 0;}
#chooseside label {border:none !important}
#text_turn_left {margin-right: 10px;}
#txt_arrange > button {padding: 0 !important; margin-left: 0 !important; height: 21px !important; float: left; margin-right: 10px}

#accordion input.textsizelabel, #accordion input.texttransparencylabel {background:#FFFFFF;border: 1px solid #E0DBD4;box-shadow: -1px 1px 0 0 #D9D9D9 inset;height: 24px;line-height: 24px;padding-left: 3px;}
.texttransparencylabel, #imgtransparencylabel, .textsizelabel{width:33px;}
#texttable img {
    float: left;
}

#txt_select {
    left: -6px;
    position: relative;
}
#txt_align, #txt_align_v {margin-left: -1px;}

.sp-replacer {padding: 0; border: #d3d3d3 1px solid; height: 26px; width: 143px;}
.sp-preview {
    background: none repeat scroll 0 0 #777777 !important;
    border: medium none;
    height: 24px;
    left: 1px;
    margin-right: 2px;
    top: 1px;
    width: 120px;
}
.sp-preview .sp-preview-inner {
	height: 24px;
    font-family: Verdana;
    font-size: 12px;
    height: 24px;
    line-height: 22px;
    padding-left: 7px;
}
.sp-dd {
	background:url(../img/arr-color.png) left top no-repeat;
    float: left;
    height: 27px;     
    margin-left: 0;
    padding: 0;
    width: 21px;
    text-indent: -99999px;
}

.ui-dialog {
    background-color: #fff;
    border: medium none;
    padding: 0;
    border-radius: 8px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05);
  
}
.ui-dialog .ui-dialog-content {
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
	background: url(../img/close-pop.png) left top no-repeat !important;
	width: 23px !important;
	height: 23px !important;
	padding: 0;
	margin: -12px 2px 0;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
	background-position: left bottom !important;
}
.ui-dialog-titlebar {background-color: #a63287 !important;border: none;}
#txt_align_v {
    height: 23px;
}
#patternselect_div {
    overflow: hidden;
}
#imagelist .content, #patternlist .content, #clipartlist .content {
	width: auto;
	padding: 0;
	margin-left: -10px;
	width: 105%;
	overflow: hidden
}
#imagelist img, #patternlist img, #clipartlist img {
	margin: 0 0 10px 10px;
	float: left
}
#accordion .ui-accordion-content {
	padding-left: 20px;
	padding-right: 20px;
}
#accordion .ui-accordion-content .edittable {margin-left: -6px; width: 104%;}
#add_photo {margin-top: 3px;margin-left:6px !important;}
#imagelist, #patternlist, #clipartlist {height: auto; padding-bottom: 10px;}
table.edit_cross {margin: 0;}
#accordion .ui-accordion-content .edittable{margin-left:-6px;width:312px !important;margin-bottom:0 !important;}
#add_text {margin-top: -10px;}
#texttable #placeholder {height: auto;margin: 0;}
.edittable td{padding:0 !important;}
#texttable.edittable td {padding: 2px 2px 1px !important;}
#imagetable.edittable td {padding: 4px 2px 3px !important;}
#mask_borders{padding-top:5px;}