@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu);
@font-face {
    font-family: 'italiannoregular';
    src: url('fonts/italianno-regular-webfont.eot');
    src: url('fonts/italianno-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/italianno-regular-webfont.woff') format('woff'),
         url('fonts/italianno-regular-webfont.ttf') format('truetype'),
         url('fonts/italianno-regular-webfont.svg#italiannoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {margin-bottom:0; padding:0;}
html{background:#eeeeee url(/img/bg-html.gif) repeat-x 0 37px;}
body {background: url(/img/bg-body.gif) repeat-x left bottom;font-family:'Ubuntu', serif;font-size: 14px;color: #575757;line-height: 21px;font-weight:300;}
hr {margin: 0 0 18px;height: 1px;background: #a9398b;border:none;display: block;}
a {color: #a9398b;outline: none;text-decoration: none;}
a:hover {text-decoration: underline;}
#menu ul li a {-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.social-block a {-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
#wrap-inner,#mid {background:url(/img/bg-mid.gif) repeat-y 0 0;clear:both;-webkit-border-radius: 0 0 10px 10px;-moz-border-radius: 0 0 10px 10px;border-radius: 0 0 10px 10px;}
#wrap-inner{-webkit-border-radius:10px;-moz-border-radius: 10px;border-radius:10px;}
#body_home #mid {padding-top: 0;background:none;}
#wrapper {margin: 0 auto;width: 980px;}
#pagecontent {position: relative;margin: 0;float: right;width: 700px;font-weight: 500;padding: 20px 30px 25px 40px;}
.button{background:url(/img/background.png) no-repeat right -170px;height:39px;line-height:39px;font-size:18px;font-family:'Ubuntu', serif;color:#fff;-webkit-border-radius: 5px;-moz-border-radius:5px;border-radius:5px;float:none;width:auto;}
.button:hover{background-position: right -124px;text-decoration:none;}
.morelink{display:block;text-align:center;width:846px;padding-top:5px;}
.morelink .button{padding: 0 50px 0 15px;display:inline-block;text-align:left;}
#container {
	clear: both;
	padding: 25px 30px 0 30px;
}

#header {background: none;padding: 37px 0 0 0;height: auto;position: relative;}
#logo {position: absolute;left: 0;top: 57px;line-height: 1;font-size: 0;margin: 0;}
#logo img {height: 62px;}
#home {display: none !important;background: none !important;}
#headermenu {padding: 0;height: auto;margin: 30px 0;float: right;width: auto;background-color:#f2f2f2;border-radius:3px;-webkit-border-radius:3px;}
#headermenu a {font-size:13px;color:#a9398b;width: auto;line-height: 38px;height: auto;display:inline-block;}
#headermenu a span {width: auto;top: 0;}
#headerbasket {background: url(/img/ico-basket.png) no-repeat 90% 10px;padding-right: 44px;height: 30px;}
a#headerbasket:hover {text-decoration:none;}
#basket_text {display: inline;padding: 0;margin-right:4px;}
#basket_count {margin: 0;padding: 0;color: #a9398b;display:inline;}
#headermenu a:active #basket_count,#headermenu a:hover #basket_count,#headermenu a:active,#headermenu a:hover{color:#848484;text-decoration:none;}
#headermenu > a#headerlogout, #headermenu > a#headerhelp {margin: 0 10px;}
#headerlogin {margin-right:20px;margin-left:10px;}
.tophead {background:#000;position:fixed;top:0;width: 100%;z-index:999;}
.tophead p {margin:0;}
.topheadinner {height:37px;margin:0 auto;width:980px;position:relative;font-size:13px;color:#fff;}
.save-date{float: left;width:700px;line-height:37px;}
.logosmall {float: left;margin-right: 10px;margin-top:2px;height: 33px;display: none;}
.ups {float: left;width: 320px;}
.ups ul {list-style: none !important;padding: 0;margin: 0;width: 320px;}
.ups ul,.ups ul li {line-height: 29px;height: 35px !important;}
.telephone {float: left;}
.showlogo {padding-left: 0;}
.tophead.bor {padding-left:0;}
.save-date img {padding-left:11px;padding-right:6px;}
.save-date .logo{padding-left:0;display:block;}
.save-date .telephone {background: url(/img/bg-line.gif) no-repeat left center;padding: 3px 0 0 0;overflow: hidden;}
.save-date .telephone img {padding-top: 3px;float: left;}
.save-date .telephone span {float: left;}
.save-date span.tel {background: none;padding: 0;}

.trash_icon {
	position: inherit !important;
	margin-top: 144px;
	margin-left: 0 !important;
}

.top-navi {
	margin: 0;
	padding: 6px 0 0 0;
	list-style: none !important;
	float: right;
}

.top-navi li {
	float: right;
}

.top-navi li a {color:#fff;padding: 0 17px;background:url(/img/line.png) right center no-repeat;font-size:13px;}
.top-navi li a:hover{color:#ae49a2;text-decoration:none;}
.top-navi li a#nav-contact {background: none;padding-right: 7px;}
.social {float:right; padding-top:7px;}
.social a {background:url(/img/social.png) top left no-repeat; display:inline-block; width:22px; height:22px; text-indent:-9999px; float: left; margin-left:10px;}
.social a.fb {background-position:top right;}
.social a:hover {background-position:bottom left;}
.social a.fb:hover {background-position:bottom right;}

/*
-----------------------------------------------------------------
Menu
-----------------------------------------------------------------
*/

#menu {background: #f2f2f2;padding: 0;-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;position: relative;clear:both;overflow:hidden;}
#menu ul {margin: 0;padding: 0;list-style: none !important;}
#menu ul li {float: left;}
#menu ul li a {font-size: 16px;color: #a9398b;display: block;height: 39px;line-height: 39px;padding: 0 18px;font-family:"Ubuntu";}
#menu ul li:first-child a, #menu ul li:first-child a:hover {-webkit-border-radius: 6px 0 0 0;-moz-border-radius: 6px 0 0 0;border-radius: 6px 0 0 0;}
#menu ul li.active a,#menu ul li a:active,#menu ul li a:hover {color: #c0c0c0;text-decoration: none;}
#menu ul li.home{padding:7px 10px 0 19px;}
#menu ul li.home a{text-indent:-9999em;padding:0;width:29px;height:24px;background:url(/img/background.png) no-repeat 0 0;}
.social-block {
	position: absolute;
	right: 0;
	top: 0;
	height: 33px;
	border-left: 1px solid #e8e8e8;
	padding-right: 17px;
	padding-left: 8px;
	padding-top: 12px;
}


/*
-----------------------------------------------------------------
Sidebar
-----------------------------------------------------------------
*/
#categories {padding-left: 18px;width: 190px;padding-top:28px;}
#mainmenu,#mainmenu ul{list-style:none;padding:0;margin:0;}
#mainmenu h3{margin:0 !important;}
#mainmenu h3 a{font-size: 15px;font-family: 'Ubuntu', serif;color: #2e2e2e;display: block;font-weight: normal;padding: 0 0 0 15px;margin: 0;position:relative;}
#mainmenu h3 a:after{background: url(/img/background.png) no-repeat 0 -53px;position:absolute;width:5px;height:9px;left:0;top:6px;content:"";}
#mainmenu h3 a:hover{color: #a54399;text-decoration: none;}
#mainmenu h3 a:hover:after{background-position: left -72px;}
#mainmenu li{padding-bottom:14px;}
#mainmenu li ul {padding:4px 0 0 20px;}
#mainmenu li ul li{padding:11px 10px 0 0;}
#mainmenu li ul li a{display:block;color:#2e2e2e;}
#mainmenu li ul li a:hover{color:#be69b4;text-decoration:none;}
#mainmenu li ul li.active a{text-decoration:none;color:#a54399;}
.rank {
	margin: 0;
	padding: 23px 0 0 0;
	list-style: none !important;
}

.rank li {
	font-size: 12px;
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	color: #702b2b;
	padding: 0 18px 16px 35px;
	line-height: 18px;
}

.rank li.one {
	background-position: 0 -143px;
}

.rank li.two {
	background-position: -252px -143px;
}

.rank li.three {
	background-position: -578px -143px;
}

/*
-----------------------------------------------------------------
Content
-----------------------------------------------------------------
*/
.cart-block {overflow: hidden; margin-top: 0; margin-left: -40px;}
.cart-block > li {float: left;list-style: none outside none;padding: 0 !important;width: 176px;margin-left: -3px;margin-bottom: 20px;background:none !important;}
.cart-block > li a span {display: none;}
.cart-block > li img {display: block;width:176px !important; height:auto !important;}
#crumbs {font-size: 13px;color: #878787;margin-top:7px;margin-bottom: 18px;}
#crumbs a {font-size: 13px;text-transform: capitalize;}
#pagecontent p {margin: 0;padding-bottom: 15px;}
#pagecontent h1 {padding: 0;font-family:'Ubuntu', serif;color: #a9398b;margin:0 0 15px;font-size:26px;}
#pagecontent h6,#pagecontent h5,#pagecontent h4,#pagecontent h3,#pagecontent h2 {color: #a9398b;font-family: 'Ubuntu', serif;margin: 0 0 5px 0;}
#pagecontent h2 {font-size: 20px;}
#pagecontent h3 {font-size: 18px;}
#pagecontent h6,#pagecontent h5,#pagecontent h4 {font-size: 16px;}
#body_home #pagecontent h2{text-transform:uppercase;font-size:22px;margin-bottom:8px;}
blockquote{color:#a9398b;font-style:italic;font-family:'Ubuntu', serif;font-size:22px;margin:0 0 25px;background:#f6f6f6;line-height:34px;padding:7px 15px 10px 15px;}
#body_home #pagecontent p{padding-bottom:30px;}
#pagecontent ul{list-style:none;margin: 0 0 15px 0;}
#pagecontent ol{margin: 0 0 15px 0;padding:0 0 0 15px;}
#pagecontent ul li{background:url(/img/ico-circle.png) no-repeat 0 10px;padding:0 0 0 10px;}
#pagecontent table{margin: 0 0 20px 0;border-collapse:collapse;border:1px solid #e8e8e8;}
#pagecontent table td,#pagecontent table th{border:1px solid #e8e8e8;padding: 6px 10px 8px 10px;}
#pagecontent table th{background:#ababab;color:#fff;font-weight:normal;vertical-align:middle;border:1px solid #e8e8e8;text-align:left;padding: 6px 10px 8px 10px;}
#body_account_adres_import table td,#body_account_adres_import table,#pagecontent .noborder th, #pagecontent .noborder td,#pagecontent .noborder{border:none;}
#card_previews {
	padding-top: 15px;
	margin: 0 0 0 -10px;
	overflow:hidden
}
#card_previews > a, #body_category #pagecontent > a {
    margin-left: 7px;
	float:left;
}
#card_previews img {
	width: 170px;
	height: auto !important;
}

#design {
	background: none;
	height: 360px !important;
}

#design .description {
	bottom: 15px !important;
	width: 420px !important;
	font-weight: 500;
}

#direct_basket,#choose_preview {bottom: 20px !important;right: 10px !important;padding: 0 50px 0 15px !important;}
#direct_basket {bottom: 20px !important;right: -29px !important;}
#voor_preview {position: inherit !important;}
#voor_preview img {height: 310px;}

#knav {
	background: url(/img/bg-knav.png) no-repeat center top;
	margin: 0 !important;
	clear:both;
	overflow: hidden;
	position: relative;
	padding-top: 10px;

}

#card_previews_horizontal {
	height: 207px !important;
	width: auto;
	overflow: inherit !important;
	position: static !important;
	mask: inherit !important;
}

#prev_page, #next_page {
	height: 207px !important;
	background-image: url(/img/arrow_right.png) !important;
	background-position:left top !important;
	background-repeat: no-repeat;
	width: 55px !important;
}

#next_page:hover {
	background-position: 0 -220px !important;
}


#prev_page {
    background-image: url(/img/arrow_left.png) !important;
	background-position:left top !important;
}

#prev_page:hover {
	background-position: 0 -220px !important;
}



#card_previews_horizontal a {
	width: auto !important;
	position: relative
}
#card_previews_horizontal a span {
	background: none;
	display: block;
    height: 10px;
    left: 60px;
    position: absolute;
    top: -30px;
    width: 20px;
}
#card_previews_horizontal #inner {
	top: 29px;
	margin-left: -40px;
}

#card_previews_horizontal img {height: 155px !important;width:auto !important;}

#content {
	float: right;
	width: 690px;
}

#bxsliders {margin-bottom:20px;height: 252px;overflow: hidden;}
.bxslider {padding: 0;margin: 0;list-style: none !important;}
.bxslider li img {width: 980px;height: 252px;-webkit-border-radius: 0 0 10px 10px;-moz-border-radius: 0 0 10px 10px;border-radius: 0 0 10px 10px;}
.bxslider li {position:relative;}
.bxslider .caption {color: #342d2d;left: 37px;position: absolute;top: 0;width: 600px;}
.bxslider .caption h1 {font-size:35px;line-height: 39px;color:#a9398b;margin-top:22px;margin-bottom:17px;}
.bxslider .caption p {font-family: 'Open Sans', sans-serif;font-size: 14px;line-height: 26px;margin: 0;}
.bx-wrapper {float: left;width: 748px;}

#content p {
	font-size: 16px;
	margin: 0 0 28px 0;
	padding: 0 !important;
	color: #702b2b;
}

.card-list {
	margin: 0 -32px 0 0;
	padding: 0;
	list-style: none !important;
}

.card-list li {
	cursor: pointer;
	float: left;
	width: 148px;
	height: 200px;
	overflow: hidden;
	margin-right: 32px;
	position: relative;
}

.card-list li img {
	width: 100%;
}

.card-size li img {
	width: 100% !important;
}

.card-list li h2 {
	margin: 0 !important;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	font-weight: normal;
	text-align: center;
	height: 24px;
}

.card-list li h2 a {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	vertical-align: top;
	height: 24px;
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	background: #ff7f1d;
	display: inline-block;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	padding: 0 12px;
}

.card-list li h2 a:hover {
	text-decoration: none;
}

.card-list li.hover h2 a {
	background: #e6721a;
}

#tabs {
	margin: 0;
	padding: 0;
	list-style: none !important;
}

#tabs li {
	float: left;
	padding-right: 3px;
}

#tabs li a {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	border: 1px solid #e8e8e8;
	border-bottom: none;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	color: #a66a6a;
	font-size: 12px;
}

#tabs li a:hover {
	color: #702b2b;
	text-decoration: none;
}

#tabs li a.on {
	color: #702b2b;
	background: #f5f5f5;
	border-color: #f5f5f5;
}

.tab_content {
	background: #f5f5f5;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 10px 10px 10px;
	position: relative;
	padding: 6px 0 10px 0;
}

#tab-pro {
	padding-bottom: 23px;
}

#tab-pro .hide {
	display: none;
}

.body-tab {
	margin: 0 auto;
}

.tab_content ul {
	margin: 0;
	padding: 0;
	list-style: none !important;
}

.tab_content ul li {
	float: left;
	width: 150px;
	text-align: center;
	font-size: 0;
	height: 160px;
}

.tab_content ul li img {
	width: 100%;
	height: auto;
}

.nav .prev,
.nav .next {
	display: block;
	width: 35px;
	height: 34px;
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	text-indent: -9999em;
	cursor: pointer;
	position: absolute;
	top: 65px;
}

.nav .prev {
	background-position: right -241px;
	left: 10px;
}

.nav .prev:active,
.nav .prev:hover {
	background-position: right -281px;
}

.nav .next {
	background-position: right -329px;
	right: 10px;
}

.nav .next:active,
.nav .next:hover {
	background-position: right -371px;
}

.mb48{margin-bottom:48px !important;}
.news-home {padding-top: 10px; margin-bottom: 28px; clear: both;}
.news-home .item {float: left;width: 327px;margin-left: 35px;}
.news-home .item:first-child {margin-left: 0;}
.news-home .item img {display: block; margin-bottom: 12px;}
.news-home .item .text {font-size: 14px; line-height: 24px; margin-bottom: 15px; font-weight: 500}
.news-home .item .more {float: right;border: #a9398b 1px solid; border-radius: 4px; height: 27px; line-height: 26px; padding: 0 32px 0 12px; font-size: 13px; color: #a9398b; font-weight: 500;position:relative;}
.news-home .item .more:after{content:"";position:absolute;right:9px;top:9px;height:9px;width:5px;background:url(/img/background.png) no-repeat 0 -72px;}
.news-home .item .more:hover {text-decoration: none;color:#000;border-color:#000;}
.news-home .item .more:hover:after{background-position: 0 -92px;}
#body_account_adresboek .address input[type="text"]{width:98%;}
#body_account_adresboek .address select{width:100%;}
#body_account_adresboek table .col1{width:110px;}
#body_account_adresboek #list li{background:none;padding:0;}
/*
-----------------------------------------------------------------
Subpage
-----------------------------------------------------------------
*/

#pagecontent .intro-text {
	font-family: 'Bitter', serif;
	font-weight: 700;
}

#pagecontent .block {
	clear: both;
}

#pagecontent .block img {
	padding-bottom: 6px;
}

#pagecontent .block .imageleft {
	float: left;
	width: 512px;
	padding-right: 32px;
}

#pagecontent .block .imageright {
	float: right;
	width: 512px;
}


#kaart-editor ul {
	padding-left: 15px;
	margin: 0;
	padding-bottom: 15px;
}

#kaart-editor ol {
	padding-left: 20px;
	margin: 0;
	padding-bottom: 15px;
}

input[type="password"],input[type="text"] {border: 1px solid #D3D3D3;padding: 8px 1%;width:98%;font-family:"Ubuntu",serif;font-size:14px;}
.contactfrm input[type="text"] {width: 394px;}
textarea {border: 1px solid #D3D3D3;height: 92px;overflow: auto;padding: 8px 1%;resize: none;width:98%;}
.contactfrm textarea {width: 394px;}
.contactfrm {padding: 30px 0 0;}
.contactfrm ul li {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);clear: both;padding: 0 0 10px;position:relative;}
.contactfrm .error input[type="text"], .contactfrm .error textarea {border-color: #FF0000;}
.contactfrm .error span {background: url(/img/bg-error.png) no-repeat 0 0;color: #FFFFFF;display: inline-block;font-size: 13px;height: 33px;line-height: 31px;margin-left: 3px;padding: 0 10px;width:84px;text-align:center;position:absolute;right:0;top:0;}
.contactfrm ul li label {display: block;float: left;line-height: 34px;padding: 0 10px 0 0;width: 108px;}
.contactfrm ul {list-style: none !important;padding: 0;margin: 0 !important;}
.contactfrm ul li label em {font-style: normal;}
.contactfrm ul li p {float: left;margin: 0;padding: 0;}
.contactfrm .submit {clear: both;margin: 0;padding: 0 169px 0 0 !important;overflow: hidden;}
#body_account_adres_import input[type="submit"],
#body_account_nieuwsbrief input[type="submit"],
#body_account_password input[type="submit"],
#body_account_address input[type="submit"],
.contactfrm  input[type="submit"]{float: right;font-family: 'Ubuntu', serif;background:url(/img/background.png) no-repeat right -170px;border: none;color: #FFFFFF;
cursor: pointer;font-size: 18px;font-weight: normal;height: 39px;line-height: 36px;text-align: left;padding: 0 50px 0 15px;-webkit-border-radius: 5px;-moz-border-radius:5px;border-radius:5px;padding-bottom:3px;}
#body_account_adres_import input[type="submit"],
#body_account_nieuwsbrief input[type="submit"],
#body_account_password input[type="submit"],
#body_account_address input[type="submit"] {float: none;}
#body_account_nieuwsbrief input[type="submit"] {margin-top: 15px;}
#body_account_adres_import input[type="submit"]:hover,
#body_account_nieuwsbrief input[type="submit"]:hover,
#body_account_password input[type="submit"]:hover,
#body_account_address input[type="submit"]:hover,
.contactfrm input[type="submit"]:hover {background-position: right -124px;}
#body_account_adres_import input[type="submit"]:active,
#body_account_nieuwsbrief input[type="submit"]:active,
#body_account_password input[type="submit"]:active,
#body_account_address input[type="submit"]:active,
.contactfrm input[type="submit"]:active {background-position: right -124px;	border: none;margin: 0;}
#body_account_address table{width:90%;}
#body_account_address table .col1{width:125px;}
.button-item {
	padding: 0 0 27px 0 !important;
}

.button01 {
	background: #ff7f1d url(/img/ico-arrow-btn.png) no-repeat right center;
	padding: 0 46px 0 15px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-family: 'Bitter', serif;
	font-weight: 700;
	font-size: 17px;
	color: #fff;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
}

.button01:hover {
	 background: #e5731c url(/img/ico-arrow-btn-o.png) no-repeat right center;
	text-decoration: none;
}

.button01:active {
	 background: #e5731c url(/img/ico-arrow-btn-o.png) no-repeat right center;
	 -moz-box-shadow: inset 0 0 5px #c86518;
	-webkit-box-shadow: inset 0 0 5px #c86518;
	box-shadow: inset 0 0 5px #c86518;
}

table ul {
	margin-top: 0 !important;
	padding-left: 15px !important;
}

div#banners {
	padding-bottom: 15px;
	height: 107px !important;
}

div#banners2 img,
div#banners img {
	width: 690px;
}

#body_login table {
	border: none;
	margin: 0;
}

#body_login table td {
	border: none;
	padding-left: 0;
	position: relative;
}

#body_login #login,
#body_login #registreer {
	border-bottom: 1px solid #e1e1e1 !important;
	margin-bottom: 20px !important;
}

#body_login #login,
#body_login #registreer,
#body_login #pw_recovery {
	border: none;
	height: auto;
	float: none;
	width: auto;
	padding-left: 0;
	margin: 0;
	overflow: hidden;
}

span#new,
#ok,
#cancel,
#body_account_settings .button,
#body_account .button,
#body_login .align_bottom {color: #FFFFFF;display: block;font-size: 16px;font-weight: 500;height: 39px;line-height: 39px;margin-top: 5px;padding: 0 17px;width: auto !important;background: #a9398b;border-radius: 4px;}
#body_account_settings .button,
#body_account .button {display: block;margin-bottom: 10px;width: 220px !important;}
#body_account_settings #pagecontent p br,#body_account #pagecontent p br {display: none;}
span#new:hover,
#ok:hover,
#cancel:hover,
#body_account_settings .button:hover,
#body_account .button:hover,
#body_login .align_bottom:hover {background: #191919;}

span#new:active,
#ok:active,
#cancel:active,
#body_account_settings .button:active,
#body_account .button:active,
#body_login .align_bottom:active {background: #191919;}
#body_account_adresboek table td,#body_account_adresboek table,#body_account_password table td,#body_account_password table,#body_account_address table,#body_account_address table td{border:none;padding-left:0;}
#body_login .align_bottom {position: relative; bottom: inherit;}
#body_login form label {width: 140px; display: block;}
#body_login #pw_recovery .align_bottom {width: 240px;}
#body_login #pagecontent input[type="text"],#body_login #pagecontent input[type="password"] {width: 300px;}

#body_login #login_nieuwbrief {
	left: 22px;
    margin-top: -1px;
    position: absolute;
    width: 650px;
}
#nieuwsbrief {margin-left: 0;}
#step_back {background: url(/img/arrow-step-back.png) no-repeat 0 0;font-size: 14px;height: 24px;line-height: 24px;color: #a63287;padding: 0 0 0 30px;}
#step_back:hover{background-position:0 -40px;}
select {padding: 7px 3px;border:1px solid #d3d3d3;width:100%;font-family:"Ubuntu",serif;font-size:14px;}

#body_account_password table td {
	width: auto;
}

#body_account_password table td input[type="password"],
#body_account_password table td input[type="text"] {
	width: 276px;
}

#body_account_password table {width: 553px !important;}

#body_account_nieuwsbrief #pagecontent label,
#body_account_nieuwsbrief #pagecontent input {
	vertical-align: top;
}

#order th {
	color: #fff;
}

#body_account_adresboek #leftdiv {padding-top: 16px;}
#body_account_adresboek #rightdiv {background: none !important;float: right;width: 373px;margin: 0;padding: 0;height: auto;}
#body_account_adresboek #rightdiv #step_back {margin-bottom: 15px;}
#body_account_adresboek ul.banners {padding: 30px 30px 0;}
#ok {margin-bottom: 10px;}

#design .designer {
	bottom: 120px !important;
}

.cadeau-list {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

.cadeau-list li {
	float: left;
	padding: 0 12px 20px;
	width: 114px;
}

.cadeau-list li h2 {
	text-align: center;
	padding-top: 4px;
}

.cadeau-list li h2 a {
	color: #702b2b;
	font-size: 16px;
	font-family: 'Bitter', serif;
	font-weight: 700;
}

.sec-button {
	clear: both;
	border-top: 1px solid #e8e8e8;
}

.sec-button .text {
	float: left;
	width: 425px;
	padding-top: 16px;
}

.sec-button .btn {
	float: right;
	padding-top: 22px;
}

.block-head {
	position: relative;
	margin-bottom: 40px;
}

.block-head .text {
	position: absolute;
	left: 0;
	top: 0;
	padding: 12px 0 0 20px;
	width: 385px;
	line-height: 18px;
}

.block-head .text p {
	margin: 0;
	color: #fff;
	font-size: 13px;
	padding-bottom: 10px;
}

.block-head .text p a {
	color: #fff;
	text-decoration: underline;
}

.block-head .text p a:hover {
	text-decoration: none;
}

.stappen-wijn {
	text-align: center;
	font-size: 0;
	padding-bottom: 30px;
	margin-bottom: 17px !important;
	border-bottom: 1px solid #e8e8e8;
	line-height: 1;
}

.rose-list {
	list-style: none !important;
	padding: 0 0 7px 0;
	margin: 0;
}

.rose-list li {
	float: left;
	text-align: center;
	width: 150px;
	padding: 0 10px;
}

.w260 li {
	width: 210px;
	padding: 0 10px;
}

.rose-list li p {
	padding: 0 !important;
}

.rose-list li .thumb {
	padding: 0;
	text-align: center;
}

.rose-list li .thumb img {
	width: 100%;
}

.rose-list li .price {
	padding: 4px 0 0 0;
	color: #702b2b;
	font-size: 14px;
}

.rose-list li h2 {
	font-family: Verdana, Geneva, sans-serif !important;
	color: #3c86ae !important;
	font-size: 14px !important;
	font-weight: normal !important;
	min-height: 55px;
}

#body_cadeau_category #categories {
	padding: 0;
	width: 180px !important;
	margin-right: 20px;
}



/*
-----------------------------------------------------------------
Footer
-----------------------------------------------------------------
*/
#footer {padding: 24px 20px 9px 19px;background-color: #e2e2e2;margin:30px 0;border:1px solid #c4c4c4;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.fnavi > ul {float: left; width: 780px;}
.fnavi ul,.fnavi {list-style: none !important;padding: 0;margin: 0;}
.fnavi li {float: left;width: 25%;color: #342d2d;font-family:Arial, Helvetica, sans-serif;}
.fnavi li a {color: #342d2d; font-size: 12px;}
.fnavi li a:hover {color:#a9398b;text-decoration:none;}
.fnavi li ul li {float: none;width: auto;line-height: 20px;}
#footer .banners {display: none;}
.betaalmethodes {margin: 0;float: right;width: 150px;}
.betaalmethodes img {display: block; margin-top: 16px;}
.betaalmethodes img:first-child {margin-top: 0;}
.banners {
	clear: both;
	overflow: hidden;
	padding: 30px 30px 0;
	margin: 0;
	list-style: none !important;
}

.banners li {
	font-size: 0;
	line-height: 1;
	float: left;
}

.banners li.right {
	float: right;
}

.wine-navigation {
	list-style: none !important;
	padding: 0 0 25px;
	margin: 0;
}

.wine-navigation li {
	float: left;
	padding-right: 10px;
	line-height: 20px;
}

.wine-navigation li a {
	background: url(/img/bg-line.gif) no-repeat right center;
	padding: 0 11px 0 0;
	font-size: 12px;
}

.wine-navigation li:last-child a {
	background: none;
}

.pro-block .thumb {
	float: left;
	width: 375px;
}

.pro-block {
	clear: both;
	padding-bottom: 20px;
}

.pro-block .pro-detail {
	float: right;
	width: 246px;
}

.pro-block .block01 {
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 16px;
	padding: 7px 14px 15px;
}

.pro-block .block01 .price {
	color: #702b2b;
	font-size: 20px;
	font-family: 'Bitter', serif;
	font-weight: 700;
	margin: 0;
	padding: 0 !important;
}

.pro-block .block01 .price-text {
	font-size: 12px;
	font-style: italic;
	line-height: 21px;
	padding-bottom: 20px !important;
}

.pro-block .block01 .tekst-bestellen {
	font-size: 12px;
	line-height: 21px;
}

.pro-block .block02 {
	background: #e0f6ff;
	border: 1px solid #e0f6ff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 15px 11px;
	font-size: 13px;
}

.pro-block .block02 h3 {
	font-size: 13px !important;
	font-family: Verdana !important;
	margin: 0 0 -2px 0 !important;
}

.pro-block .block02 ul {
	margin: 0;
	padding: 0 0 0 15px;
}

.pro-block .block02 ul li {
	line-height: 20px;
}

.pro-info {
	border-top: 1px solid #e8e8e8;
	padding: 12px 0 0 0;
}

.pro-info h2 {
	font-size: 16px !important;
}

.pro-info ul {
	margin: 0;
	padding: 0 0 0 15px;
}

.flogo {background-color: #c398c3;}
.flogo-inner {margin: 0 auto;width: 980px;text-align: center;font-size: 12px;padding: 13px 0;font-family:Arial, Helvetica, sans-serif;}
.flogo a,.flogo span {display: inline-block;line-height: 35px;height: 35px;color: #fff;}
.flogo a:hover{text-decoration:none;}
.flogo span {margin-right: 15px;color: #fff;}
.flogo a{background-image:url(/img/flogo.png);background-repeat:no-repeat;margin-right: 15px;}
.flogo a.hip {padding-left: 66px;background-position:0 -65px;}
.flogo a.hip:hover {background-position:0 -100px;}
.flogo a.fuif {padding-left: 54px;height: 31px;line-height: 31px;background-position:0 0;}
.flogo a.fuif:hover {background-position:0 -31px;}
.flogo a.wens {padding-left: 40px;height: 32px;line-height: 32px;background-position:0 -143px;}
.flogo a.wens:hover {background-position:0 -175px;}

/*
-----------------------------------------------------------------
Clearfix
-----------------------------------------------------------------
*/
.pro-block,
.wine-navigation,
.sec-button,
.tab_content ul,
#tabs,
#container,
#menu ul,
.clearfix,
#wrapper {
	zoom: 1;
}

.pro-block:after,
.wine-navigation:after,
.sec-button:after,
.tab_content ul:after,
#tabs:after,
#container:after,
#menu ul:after,
.clearfix:after,
#wrapper:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.paginator {
    text-align: right;
}
.paginator a {
    display: inline-block;
    padding: 0 9px;
}

.mask-left, .mask-right {
	width: 73px;
	height: 207px;
	position: absolute;
	top:10px;
}
.mask-left {
	background: url(../img/mask-left.png) left top no-repeat;
	left: 0
}
.mask-right {
	background: url(../img/mask-right.png) right top no-repeat;
	right: 0
}
#prev_page, #next_page {z-index: 2;}

#body_edit #pagecontent {
	height: 900px;
}
