<div class="fnavi clearfix">
    <ul class="fnavi clearfix">
        <li>
            <ul>
                <li>&raquo; <a href="/algemene_voorwaarden" title="Algemene voorwaarden">Algemene voorwaarden</a></li>
                <li>&raquo; <a href="/privacy" title="Privacy">Privacy</a></li>
                <li>&raquo; <a href="/garantie" title="Garantie">Garantie</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li>&raquo; <a href="/over-condoleancekaart" title="Over Condoleancekaart.nl">Over Condoleancekaart</a></li>
                <li>&raquo; <a href="/veelgestelde-vragen" title="Veelgestelde vragen">Veelgestelde vragen</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li>&raquo; <a href="/condoleance-gedichten" title="Condoleance Gedichten">Condoleance Gedichten</a></li>
                <li>&raquo; <a href="/condoleance-teksten" title="Condoleance Teksten">Condoleance Teksten</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li>&raquo; <a href="/prijzen" title="Prijzen">Prijzen</a></li>
                <li>&raquo; <a href="/contact" title="Contact">Contact</a></li>
            </ul>
        </li>
    </ul>
    <p class="betaalmethodes"><img alt="Betalen kan via iDEAL, Visa, Master Card, eenmalige machtiging of bankoverschrijving" src="/img/betaalmethodes.png" /></p>
</div>
<div class="flogo">
    <!-- BRANDBAR, CSS IS PLACED IN CUSTOM_NEW.CSS -->
</div>
<link href="/css/brandbar.css" rel="stylesheet" type="text/css" />
<div class="footer-brandbar">
    <ul class="footer-brandbar__items">
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--hg" href="https://hippe-geboortekaartjes.nl" target="_blank" title="hippe geboortekaartjes">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--hd" href="https://hipdesign.nl" target="_blank" title="hipdesign">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--hbi" href="https://hierbenik.nl" target="_blank" title="hierbenik">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--f" href="https://fuif.nl" target="_blank" title="fuif">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--wp" href="https://wensplein.nl" target="_blank" title="wensplein">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--sl" href="https://salut.nl" target="_blank" title="salut">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--ck" href="https://condoleancekaart.nl" target="_blank" title="condoleancekaart">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--mz" href="https://mooze.nl" target="_blank" title="mooze">&nbsp;</a></li>
    </ul>
</div>
<!--<script type="text/javascript" src="/img/paginator.js"></script><script>
enableSelectNoItems = false;
itemsPerPage = 40;
$(function(){ $("#card_previews").pagination(); });

</script>-->
<!-- Google-code voor remarketingtag -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 971559345;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/971559345/?value=0&amp;guid=ON&amp;script=0" />
    </div>
</noscript>